<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749600223689-t4fuaodspm2rullgpout31lli1m9o295.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749600223689-t4fuaodspm2rullgpout31lli1m9o295</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749600223689-4tv3usgqnl7tvmd364e10efj9f7uag49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsveZTfbDgYHujvM3wrKobpNg5HtW5DiU</string>
	<key>GCM_SENDER_ID</key>
	<string>749600223689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentorAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-mentor-app-1b071</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mentor-app-1b071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749600223689:ios:0c1ea158e7394305093818</string>
</dict>
</plist>